html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgb(255 255 255 / 0.3);
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h1 {
  z-index: 1;
  max-width: 739px;
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 116px;
  font-weight: 800;
  line-height: 136.18px;
  letter-spacing: 0.035em;
  text-align: center;
}

h1:hover::before {
  position: absolute;
  width: 742px;
  height: 142px;
  top: 182px;
  right: 22px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 15px;
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  text-transform: none;
  letter-spacing:normal;
  padding: 36px 44px;
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  white-space: pre;
}

h1::after {
  content: '*';
}
